.mainWrapper {
margin: 0 auto;
background: #ffffff;
background: #0a3b76;
color:  #333;
display: grid;
grid-template-columns: repeat(4, 1fr);
grid-template-rows: auto, auto, auto, auto;
grid-template-areas: "h h h h"
"n n n n"
"ct1 ct2 ct3 ct4"
"f f f f";
grid-column-gap: 20px;
padding:3rem;
}

header {
grid-area: h;
padding: 2rem 4rem;;
background-color: #eeeff1;
border-radius: 20px 20px 0 0;
}  

header h1 {
font-family: Roboto;
font-size: 3rem; 
font-weight: 900;
}

header span {
  font-family: 'lato', sans-serif;
  font-family: Roboto;
  font-size: 2.2rem; 
  font-weight:600;
  
  }

header p {
font-family: 'Courgette', cursive;
font-size: 1.35rem;
color: #1abc9c;
color: #3a6ea5;
}

nav {
  grid-area: n;
  float: right;
  /* margin-top: -3rem; */
}

nav ul {
list-style-type: none;
}

nav ul li {
  display: inline-block;
  margin-left: 2rem;
  }

nav ul li a {
  text-decoration: none;
  color: #516977;
}

.cont1Col1 {
  grid-area: ct1;
  border: 1px solid #0a3b76;;
  border-radius: 0 20px 30px 0;
}
.cont1Col2 {
  grid-area: ct2;
  border: 1px solid #0a3b76;;
  /* border-radius: 10px 10px 30px 30px; */
  border-radius: 20px;
}
.cont1Col3 {
  grid-area: ct3;
  border: 1px solid #0a3b76;;
  /* border-radius: 10px 10px 30px 30px; */
  border-radius: 20px;
}
.cont1Col4 {
  grid-area: ct4;
  border: 1px solid #0a3b76;;
  /* border-radius: 10px 10px 30px 30px; */
  border-radius: 20px 0 0 30px;
}

.cont1Col1, .cont1Col2, .cont1Col3, .cont1Col4 {
  max-width: 100%;
  background-color: #f6f6f6;
  padding: 1.5rem;
  height: 500px;
  text-align: center;
  }
  .cont1Col1 img, .cont1Col2 img, .cont1Col3 img, .cont1Col4 img {
  width: 450px; 
   max-width: 100%;
   margin-bottom: 1rem;
      }
  .cont1Col1 h3, .cont1Col2 h3, .cont1Col3 h3, .cont1Col4 h3 {
    margin: 2rem 0;
    }

footer {
grid-area: f;
font-weight:100;
font-size: 2rem;
background-color: #eeeff1;
padding: 2.5rem;
text-align:  center;
clear: both;
border-radius: 0 0 20px 20px ;
}
footer p {
  font-size: 1rem;
}

footer .socialIcons span {
  font-size: 1rem;
  margin-top: -30px;
  vertical-align: middle;
}

footer .faceBookIcon {
  color: #3b5998;
}
footer .twitterIcon {
  color: #0dacbd;
}
footer .instagramIcon {
  color: #3f729b;
}
footer .youtubeIcon {
  color: #bb0000;
}
footer .pinterestIcon {
  color: #bd081c;
}